@import url("https://fonts.googleapis.com/css?family=Poppins:400,600,700|Rubik:400,600,700");
body {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  font-family: "Rubik", sans-serif;
  color: #232323;
  position: relative;
}

p {
  line-height: 28px;
  font-size: 15px;
}

html {
  overflow-x: hidden;
  width: 100%;
  height: 100%;
  position: relative;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

body {
  border: 0;
  margin: 0;
  padding: 0;
  background-color: #e1ecc8;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  margin-bottom: 0px;
  color: #232323;
}

a {
  text-decoration: none;
  transition: all 0.2s;
  color: #000;
}

img {
  max-width: 100%;
}

a:hover {
  color: #635cdb;
  text-decoration: none;
}

a:focus {
  outline: none;
  text-decoration: none;
}

ul,
li {
  margin: 0;
  padding: 0;
}

header {
  position: sticky;
  top: 0;
  display: flex;
  height: auto;
  background-color: #a0c49d;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #232323;
  padding: 20px 0;
}

header ul {
  display: flex;
}
header ul li {
  list-style: none;
  margin-right: 20px;
}

#logo {
  display: flex;
  align-items: center;
}
#logo span {
  display: inline-block;
  font-size: 2rem;
  margin-left: 40px;
}
#gorne_menu {
  margin-right: 50px;
}
#gorne_menu li {
  font-size: 1.8rem;
  margin: 0 40px;
}

#pierwsza_sekcja {
  height: auto;
}
#baner {
  height: 300px;
  background-image: url("/zdjecia/tlo_kontenery.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
h1 {
  font-size: 6rem;
  color: white;
}
#o_nas {
  display: flex;
  align-items: center;
  padding: 30px 0;
}
#o_nas h2 {
  display: inline-block;
  width: 30%;
  font-size: 5rem;
  text-align: center;
}
#tekst {
  display: inline-block;
  width: 70%;
  padding-left: 40px;
  border-left: 3px solid #232323;
  font-size: 1.5rem;
}
#druga_sekcja {
  background-color: #f7ffe5;
}
#druga_sekcja h2 {
  font-size: 5rem;
  display: inline-block;
  width: 100%;
  text-align: center;
  margin-top: 100px;
}
#druga_sekcja p {
  font-size: 1.5rem;
}
#trzecia_sekcja {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 30px;
}
#trzecia_sekcja h2 {
  display: block;
  font-size: 5rem;
  text-align: center;
  margin: 50px 0;
}
#trzecia_sekcja p {
  width: 80%;
  margin: 0 auto;
}
iframe {
  width: 100%;
  height: 500px;
  border: 2px solid black;
}
#czwarta_sekcja {
  background-color: #232323;
  display: flex;
}
#czwarta_sekcja h2 {
  display: block;
  font-size: 5rem;
  text-align: center;
  color: #f7ffe5;
}
#czwarta_sekcja p {
  display: block;
  font-size: 1rem;
  text-align: center;
  color: #f7ffe5;
  font-size: 1.5rem;
}
@media only screen and (max-width: 1200px) {
  #o_nas {
    flex-wrap: wrap;
  }
  #tekst {
    border-left: 0px;
    width: 80%;
  }
  #o_nas h2 {
    display: inline-block;
    width: 80%;
    text-align: center;
    margin-bottom: 20px;
  }
}
@media only screen and (max-width: 900px) {
  html {
    font-size: 14px;
  }
  #gorne_menu {
    display: none;
  }
}
@media only screen and (max-width: 600px) {
  html {
    font-size: 12px;
  }
}
